<div class="pagination">
  <div class="rows">
    <span>Строк на странице</span>
    <select [ngModel]="value.pageSize" (ngModelChange)="selectPageSize($event)">
      <option *ngFor="let size of pageSizes" [value]="size">
        {{ size }}
      </option>
    </select>
  </div>
  <div class="current">{{ value.page }} из {{ totalPages }}</div>
  <button [disabled]="value.page === 1" (click)="selectPage(1)"><<</button>
  <button [disabled]="value.page === 1" (click)="selectPage(value.page - 1)">
    <
  </button>

  <button
    [disabled]="value.page === totalPages"
    (click)="selectPage(value.page + 1)"
  >
    >
  </button>
  <button
    [disabled]="value.page === totalPages"
    (click)="selectPage(totalPages)"
  >
    >>
  </button>
  <span>Всего:{{ total }}</span>
</div>
