.pagination{
	margin-top: 30px;
	display: flex;
	align-items: center;
	gap:10px;
	.rows{
		span{
			font-size: 14px;
			display: inline-block;
			margin-right: 15px;
		}
	}
	button{
		font-weight: 600;
		font-size: 18px;
		padding:5px 10px;
		border:0;
		outline: 0;
		cursor:pointer;
		background-color: transparent;
	}
}