.container{
	width:100%;
	.filters{
		display:flex;
		align-items: center;
		gap:30px;
		margin-bottom: 20px;
		.displayCol{
			position: relative;
			svg{
				cursor:pointer;
			}
		}
		.selectCol{
			position: absolute;
			top:100%;
			right:0;
			width:max-content;
			background-color: #ffffff; 
			border-radius: 15px;
			border: 1px solid #ccc; 
			padding: 10px;
			z-index: 999;
		}
	}
	.search{
		width:100%;
		input{
			border-radius: 15px;
			width:100%;
			padding:10px;
			border:1px #ccc solid;
			font-size: 14px;
			outline: none;
		}
	}

.wrapper{
overflow: auto;
&::-webkit-scrollbar {
    height: 4px;
  } /* Track */
  &::-webkit-scrollbar-track {
    background:#FFF8E8 ;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #838383;
  }
	table{

		border-collapse: collapse;
		width:100%;
		min-width: max-content;
		.none{
			display: none;
		}
	
		th{
			text-transform: uppercase;
			border:1px solid gray;
			padding: 10px;
			font-weight: 700;
			font-size: 14px;
			text-align: center;
			span{
				display: flex;
				align-items: center;
				gap:5px;
				justify-content: center;
				cursor: pointer;
				.asc{
					transform: rotate(180deg);

				}
				.desc{
					transform: rotate(0);

				}
				.activeSort{
					visibility: visible;
					opacity:1;
				}
				img{
					opacity:0;
					visibility: hidden;
					width:10px;
					height: 10px;
					transition:all .3s ease-in-out;
				}
				&:hover{
					img{
						opacity:1;
						visibility: visible;
					}
				}
			}
		
		}
		td{
			font-size: 14px;
			padding:10px;
			// border:1px solid gray;
			text-align: center;
			border-spacing: 0;
			border-collapse: collapse;
			border:1px solid gray;
			outline: none;


		}
		tbody{
			background-color: #f5dcdc;
		.active{
			background: #F2FDF4;

		}
	}
}
}
}