<div class="container">
  <div class="filters">
    <div class="search">
      <input
        [(ngModel)]="term"
        (input)="onSearchInputChange($event)"
        placeholder="Поиск по ключевым словам"
      />
    </div>
    <div class="displayCol">
      <svg
        (click)="toggleColumnList(); $event.stopPropagation()"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M21 12L9 12M21 6L9 6M21 18L9 18M5 12C5 12.5523 4.55228 13 4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11C4.55228 11 5 11.4477 5 12ZM5 6C5 6.55228 4.55228 7 4 7C3.44772 7 3 6.55228 3 6C3 5.44772 3.44772 5 4 5C4.55228 5 5 5.44772 5 6ZM5 18C5 18.5523 4.55228 19 4 19C3.44772 19 3 18.5523 3 18C3 17.4477 3.44772 17 4 17C4.55228 17 5 17.4477 5 18Z"
          stroke="#869196"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <div
        class="selectCol"
        *ngIf="isColumnListOpen"
        appClickOutside
        (clickOutside)="closeColumnList()"
      >
        <div *ngFor="let column of columns">
          <input
            type="checkbox"
            [id]="column.field"
            [value]="column.field"
            (change)="toggleColumn($event)"
            [checked]="selectedColumns.includes(column.field)"
          />
          <label [for]="column.field">{{ column.name }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <table>
      <thead>
        <tr>
          <th
            *ngFor="let headItem of columns"
            [ngClass]="{ none: !selectedColumns.includes(headItem.field) }"
          >
            <ng-container *ngIf="selectedColumns.includes(headItem.field)">
              <ng-container *ngIf="headItem.field === 'picture'">
                {{ headItem.name }}
              </ng-container>

              <ng-container *ngIf="headItem.field !== 'picture'">
                <span (click)="sortData(headItem.field)">
                  {{ headItem.name }}
                  <img
                    [ngClass]="{
                      asc:
                        sortColumn === headItem.field &&
                        sortDirection === 'asc',
                      desc:
                        sortColumn === headItem.field &&
                        sortDirection === 'desc',
                      activeSort: sortColumn === headItem.field
                    }"
                    src="../../assets/images/arrow-down.svg"
                    alt=""
                /></span>
              </ng-container>
            </ng-container>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let dataItem of visibleItems"
          [ngClass]="{
            active: dataItem['isActive'] === true
          }"
        >
          <td
            *ngFor="let column of columns"
            [ngClass]="{
              none: !selectedColumns.includes(column.field),
              active: dataItem['isActive '] === true
            }"
          >
            <ng-container *ngIf="selectedColumns.includes(column.field)">
              <ng-container *ngIf="column.field === 'name'">
                {{ dataItem?.[column.field]?.first }}
              </ng-container>
              <ng-container *ngIf="column.field === 'lastName'">
                {{ dataItem?.["name"]?.last }}
              </ng-container>
              <ng-container *ngIf="column.field === 'picture'">
                <img src="{{ dataItem[column.field] }}" alt="" />
              </ng-container>
              <ng-container *ngIf="column.field === 'isActive'">
                {{
                  dataItem[column.field] === true ? "Активный" : "Неактивный"
                }}
              </ng-container>
              <!-- Иначе выводим значение поля -->
              <ng-container
                *ngIf="
                  column.field !== 'name' &&
                  column.field !== 'picture' &&
                  column.field !== 'isActive'
                "
              >
                {{ dataItem[column.field] }}
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-wrapper">
    <app-table-pagination
      [total]="filteredDataSource.length"
      [value]="pagination"
      (valueChange)="onPageChange($event)"
    >
      >
    </app-table-pagination>
  </div>
</div>
